<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/suppliers">Suplier</a></li>
    <li class="breadcrumb-item"><a href="/suppliers">Data Tables</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tambah Suplier</li>
  </ol>
</nav>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tambah Suplier</h6>
  </div>
  <div class="card-body">
    <form action="/suppliers/store" method="POST">
      <div class="form-group">
        <label for="name">Nama Suplier</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Masukkan nama suplier" required />
      </div>
      <div class="form-group">
        <label for="telepon">Telepon</label>
        <input type="text" name="telepon" id="telepon" class="form-control" placeholder="Masukkan nomor telepon" required />
      </div>
      <div class="form-group">
        <label for="alamat">Alamat</label>
        <textarea class="form-control" rows="3" name="alamat" id="alamat" placeholder="Masukkan alamat lengkap" required></textarea>
      </div>
      <div class="form-group">
        <label for="userId">User</label>
        <select name="userId" id="userId" class="form-control" required>
          <% users.forEach(user => { %>
          <option value="<%= user.id %>"><%= user.username %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-block">Simpan</button>
      </div>
    </form>
  </div>
</div>
