<ul>
    <li>
        <a href="/">Dashboard</a>
    </li>
    <li>
        <a href="suppliers">Supplier</a>
    </li>
    <li>
        <a href="gudangs">Gudang</a>
    </li>
    <li>
        <a href="pengawas">Pengawas</a>
    </li>

    <li>
        <a href="kategories">Kategori</a>
    </li>
    <li>
        <a href="barangs">Barang</a>
    </li>
    <li>
        <a href="transaksi">Transaksi</a>
    </li>
    
    <li>
        <a href="users">User</a>
    </li>

    <li>
        <a href="logout">Log Out</a>
    </li>
</ul>