<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Management APP | <%= title %></title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/jquery.js"></script>
</head>
<body class="h-full">
    <!-- Header -->
    <%- include('./header.ejs')%>
    <div class="flex h-full mx-6">
        <!-- Sidebar -->
        <%- include('./sidebar.ejs') %>
        <!-- Content -->
        <%- include(page) %>
    </div>
</body>
</html>