<div class="content-page">
    <div class="content">
        <h1>Ubah Kategori</h1>

        <form action="/kategories/<%= kategori.id %>/update" method="post">
            <input type="text" name="name" placeholder="Nama Kategori" value="<%= kategori.name %>">
            <button type="submit">Simpan</button>
        </form>
    </div>
</div>